<!DOCTYPE html>
<html>

<head>
<title> WebDev Basics </title>
<!-- here we are adding the angular script, hosted by google   -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="myApp.js"></script>
<script src="myCtrl.js"></script>
</head>
<!-- ng-app directive tells AngularJS <body> element is the "owner"
of the AngularJS application -->
<!-- the app name is myApp and the controller name is myCtrl-->
<body ng-app="myApp" ng-controller="myCtrl">

<h1> Quick AngularJS Tutorial </h1>
<p> Visit: <a href="https://docs.angularjs.org/api"> this link </a> for full
list of functions. And <a href="https://www.w3schools.com/angular/default.asp"> this link </a>
for the W3 tutorial that I followed.
</p>


<b> -- Data-Binding Example </b>

<p> What is your name? </p>
<!-- ng-model binds the value of the input field to
the application variable 'fname' and 'lname' -->

<p> First name: <input type="text" ng-model="fname"> <br>
    Last name: <input type="text" ng-model="lname"> </p>

<!-- ng-bind binds the content of the span element to the input value -->
<!-- notice that the angular variables can also be displayed with {{ }} -->
<p> Your name is: <span ng-bind="fname"></span> <span> {{ lname }} </span> </p>

<!-- the name displayed here comes from the controller -->
<p> Alternate name: {{ altfname + " " + altlname }} </p>
<!-- a function call could be placed within the {{ }} as well  -->

<p> Bind to controller <br>
<input type="text" ng-model="val2controller" ng-click>
<button ng-click="printVal(val2controller)">SEND</button>
</p>

<hr>
<b> -- List Example </b>
<!-- use ng-init to initialize a value, then use ng-repeat to repeatedly add html -->
<div ng-init="names=['Jon','Han', 'Dan']">
  <ul>
  <li ng-repeat="x in names">
    {{ x }}
  </li>
  </ul>
</div>

<div ng-init="names2=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

<ul>
  <li ng-repeat="x in names2">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div>
<!-- note about directives:
AngularJS lets you extend HTML with new attributes called Directives.
Angular provides a set of built-in directives which offers functionality
to your applications, you can also define your own directives. -->

<hr>
<b> -- Invoking a directive </b>
<!-- You can invoke a directive by using:
- Element name
- Attribute
- Class
- Comment -->

<inject-element> </inject-element>

<div inject-attribute></div>

<div class="inject-class"></div>

<!-- directive: inject-comment -->

<hr>
<b> -- Validate user input </b>
<br>
<br>

<!-- we can use the broad $error value to validate input, and further
specify the type number that is input, notice how we
do myForm.myID -->
<form name="myForm">
    ID:
    <input type="number" name="myID" ng-model="text">
    <span ng-show="myForm.myID.$error.number"> Not a valid number </span>
</form>
<br>

<!-- other forms of validation in Angular: $valid, $dirty, $touched, etc... -->
<form name="myForm" ng-init="myText = 'post@myweb.com'">
    Email:
    <input type="email" name="myAddress" ng-model="myText" required>
    <br>
    <br>
    <b> Email is valid: </b> {{myForm.myAddress.$valid}}
    <br>
    <b>Input has been interacted with by user: </b> {{myForm.myAddress.$dirty}}
    <br>
    <b>Input has been touched/focused by mouse: </b> {{myForm.myAddress.$touched}}
</form>

<!-- there are other types of validation: ng-pristine, ng-empty, etc... -->


<!-- QUICKNOTE ABOUT DATA BINDING -->
<!-- The ng-model directive provides a two-way binding between the model and the view. -->
<!-- Data binding in AngularJS is the synchronization between the model and the view.
When data in the model changes, the view reflects the change, and when data in
the view changes, the model is updated as well. This happens immediately and
automatically, which makes sure that the model and the view is updated at all times. -->

<hr>
<b> -- Scopes </b>

<p> A note about scopes: All applications have a $rootScope which is
  the scope created on the HTML element that contains the ng-app directive.
  The rootScope is available in the entire application. <b> If a variable has the
  same name in both the current scope and in the rootScope, the application
  uses the one in the current scope. </b> </p>

  <p> the 'color' variable in $rootScope is: {{ color }} </p>
  <div ng-controller="colorControl">
    <p> the 'color' variable in colorControl $Scope is: {{ color }} </p>

    <p> Note that we used a 'run block' to initialize the $rootScope.color
        variable -- more information about it here... </p>
      <p> the calling order in angular: <br>
          1. app.config() <br>
          2. app.run() <br>
          3. directive's compile functions (if they are found in the dom) <br>
          4. app.controller() <br>
          5. directive's link functions (again, if found) <br> <br>

          Run blocks - get executed after the injector is created and are used
          to kickstart the application. Only instances and constants can be
          injected into run blocks. This is to prevent further system
          configuration during application run time. <br>

          Run blocks are the closest thing in Angular to the main method.
          A run block is the code which needs to run to kickstart the
          application. It is executed after all of the services have been
          configured and the injector has been created. Run blocks typically
          contain code which is hard to unit-test, and for this reason should
          be declared in isolated modules, so that they can be ignored in the
          unit-tests. </p>
  </div>

  <hr>
  <b> -- Filters </b>

  <p> Filters are used to transform data into a format. </p>

  <!-- here we are applying an angular built-in filter, uppercase
  the filter is applied with a pipe operation -->
  <p> {{ altfname | uppercase }} </p>

  <!-- orderBy filter [syntax -> orderBy : object : true/false reverse order]  -->
  <div ng-init="names=['Jon','Han', 'Dan']">
    <ul>
    <li ng-repeat="x in names | orderBy : this : false | filter: 'Jon'">
      <!-- note that you can pipe mroe than one filter,
      the 'filter' filter can only be used on arrays, the matching
      value is returned, notice that a substring is filtered, not
      necessarily an exact match -->
      {{ x }}
    </li>
    </ul>
  </div>

  <!-- you can also create and apply custom filters -->
  <div ng-init="ID=[1, 2, 3, 4, 5]">
    <ul>
      <!-- my custom format replaces a 1 with 'one' and 5 with 'five' -->
    <li ng-repeat="x in ID | myFormat">
      {{ x }}
    </li>
    </ul>
  </div>

  <hr>
  <b> -- Services </b>

  <div ng-controller="services">
    <br>
      Input a positive integer: <input type="text" ng-model="numberInput" ng-change=update()>
      <p> The binary of {{ numberInput }} is: {{ binary }} </p>
  </div>

  <div ng-init="NUM=[1, 2, 3, 4, 5]">
    <ul>
    <li ng-repeat="x in NUM">
      {{ x | binaryFormat }}
    </li>
    </ul>
  </div>

  <p> <b> A note about cross-site HTTP requests: </b>
    A request for data from a different server
    (other than the requesting page), are called cross-site HTTP requests.
    Cross-site requests are common on the web. Many pages load CSS, images,
    and scripts from different servers. In modern browsers, cross-site
    HTTP requests from scripts are restricted to same site for security
    reasons. To allow cross-site HTPP requests you will need to add permission
    to appropriate header: Access-Control-Allow-Origin: * </p>

    <!-- *** the TABLES example is in testServer directory, run the local server  *** -->

  <hr>
  <b> -- Dropdowns and Select Boxes </b>

  <p> Note: you can make drop downs out of ng-repeat'ed HTML blocks of code
    but you should use the ng-options directive whic is specifically for
    dropdowns, ng-options allows the selected value to be an object
    while ng-repeat value must be a string </p>

    ng-repeat: <select ng-model="selectedCarString">
      <option ng-repeat="x in cars" value="{{ x.model }}"> {{ x.model }} </option>
    </select>

    <br>

  ng-options: <select ng-model="selectedCarObject" ng-options="x.model for x in cars"> </select>

  <br>
  <br>

  ng-repeat: <select ng-model="selectedCarString">
    <option ng-repeat="x in cars" value="{{ x }}"> {{ x }} </option>
  </select>

  <br>

  ng-options: <select ng-model="selectedCarObject" ng-options="x for x in cars"> </select>

  <br>
  <br>

  <p> we can also use objects as the data source rather than an array for ng-options </p>

  <!-- Note: the selected value will always be the value in a key-value pair. -->
  <select ng-model="selected" ng-options="x for (x, y) in carObjects"> </select>
  <h4>You selected: {{ selected }}</h4>

  <p> The value in a key-value pair can also be an object </p>
  <!-- note how x is car01, car02, or car03; y is the object value
      we can display a property from the y value for the dropdown, but
      the true selected value will be the y in the (x,y) pair -->
  <select ng-model="select" ng-options="y.brand for (x, y) in carObjects2"> </select>
  <p> The object selected was: {{ select }} </p>

  <!-- COME BACK LATER TO ADD A SQL QUERY GET REQUEST TUTORIAL HERE, ADD A DB TO GITHUB PAGES -->

  <hr>
  <b> -- HTML DOM Data Binding </b>

  <p> Use ng-model to store the boolean value, which will be used to
      control the enabling/disabling of the button element </p>

    <p> <button ng-disabled="mySwitch"> Click Me! </button> </p>

    <p> <input type="checkbox" ng-model="mySwitch"> Button </p>

    <p> Button is enabled: {{ !mySwitch }} </p>

    <p> You can also use ng-show or ng-hide to control the DOM </p>

    <p ng-hide="false">I am visible.</p>
    <p ng-show="ngShowVar > 3"> {{ ngShowVar }} </p>


    <hr>
    <b> -- Events </b>

    <p> Event listeners can be added to HTML elements. Some include: ng-click,
      ng-focus, ng-mouseup, etc... </p>

    <h3 ng-mousemove="count = count + 1"> Mouse over me </h3>
    <p> Mouseover count: {{ count }} </p>

    <p> You can also pass the $event object as an argument when calling
        the function. The $event object contains the browser's event object </p>

    <h3 ng-mousemove="trackMouse($event)"> Mouse over me </h3>
    <p> Mouse coordinates are: {{ '(' + xCor + ', ' + yCor + ')' }} </p>


    <hr>
    <b> -- Forms </b>

    <p> A form element can be comprised of select, radiobuttons, checkboxes, etc.
        Input and validation are the main concerns when creating forms. </p>

    <!-- note the novalidate attribute, it indicates that the form is
    not to be validate on submit, which is done by browser by default -->
    <form novalidate>
      Pick a topic:
      <input type="radio" ng-model="myVar" value="one"> 1
      <input type="radio" ng-model="myVar" value="two"> 2
      <input type="radio" ng-model="myVar" value="three"> 3
    </form>

    <!-- notice that we use ng-switch, similar to switch blocks in Java -->
    <div ng-switch="myVar">
      <div ng-switch-when="one">
        <p>Option 1</p>
      </div>
      <div ng-switch-when="two">
        <p>Option 2</p>
      </div>
      <div ng-switch-when="three">
        <p>Option 3</p>
      </div>
    </div>


    <hr>
    <b> -- Validation </b>

</body>
</html>
