<!DOCTYPE html>
<html>

<head>
<title> WebDev Basics </title>
<!-- here we are adding the angular script, hosted by google   -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="myApp.js"></script>
<script src="myCtrl.js"></script>
</head>
<!-- ng-app directive tells AngularJS <body> element is the "owner"
of the AngularJS application -->
<!-- the app name is myApp and the controller name is myCtrl-->
<body ng-app="myApp" ng-controller="myCtrl">

<h1> Test </h1>

<b> --Data-Binding Example </b>
<br>
<br>
What is your name?
<!-- ng-model binds the value of the input field to
the application variable 'fname' and 'lname' -->
<br>
<br>
First name: <input type="text" ng-model="fname">
<br>
Last name: <input type="text" ng-model="lname">
<br>
<br>
<!-- ng-bind binds the content of the span element to the input value -->
<!-- notice that the angular variables can also be displayed with {{ }} -->
Your name is: <span ng-bind="fname"></span> <span> {{ lname }} </span>

<br>

<!-- the name displayed here comes from the controller -->
Alternate name: {{ altfname + " " + altlname }}
<br>
<br>
Bind to controller <br>
<input type="text" ng-model="val2controller" ng-click>
<button ng-click="printVal(val2controller)">SEND</button>

<br>
<br>
<hr>
<b> --List Example </b>
<!-- use ng-init to initialize a value, then use ng-repeat to repeatedly add html -->
<div ng-init="names=['Jon','Han', 'Dan']">
  <ul>
  <li ng-repeat="x in names">
    {{ x }}
  </li>
  </ul>
</div>

<div ng-init="names2=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

<ul>
  <li ng-repeat="x in names2">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div>
<!-- note about directives:
AngularJS lets you extend HTML with new attributes called Directives.
Angular provides a set of built-in directives which offers functionality
to your applications, you can also define your own directives. -->

<hr>
<b> --Invoking a directive </b>
<!-- You can invoke a directive by using:
- Element name
- Attribute
- Class
- Comment -->

<inject-element> </inject-element>

<div inject-attribute></div>

<div class="inject-class"></div>

<!-- directive: inject-comment -->

<hr>
<b> --Validate user input </b>
<br>
<br>
<!-- we can use the broad $error value to validate input, and further
specify the type number that is input, notice how we
do myForm.myID -->
<form name="myForm">
    ID:
    <input type="number" name="myID" ng-model="text">
    <span ng-show="myForm.myID.$error.number">Not a valid number</span>
</form>
<br>

<!-- other forms of validation in Angular: $valid, $dirty, $touched, etc... -->
<form name="myForm" ng-init="myText = 'post@myweb.com'">
    Email:
    <input type="email" name="myAddress" ng-model="myText" required>
    <br>
    <br>
    <b> Email is valid: </b> {{myForm.myAddress.$valid}}
    <br>
    <b>Input has been interacted with by user: </b> {{myForm.myAddress.$dirty}}
    <br>
    <b>Input has been touched/focused by mouse: </b> {{myForm.myAddress.$touched}}
</form>

<!-- there are other types of validation: ng-pristine, ng-empty, etc... -->


<!-- QUICKNOTE ABOUT DATA BINDING -->
<!-- The ng-model directive provides a two-way binding between the model and the view. -->
<!-- Data binding in AngularJS is the synchronization between the model and the view.
When data in the model changes, the view reflects the change, and when data in
the view changes, the model is updated as well. This happens immediately and
automatically, which makes sure that the model and the view is updated at all times. -->

<hr>
<b> --Data-Binding </b>
<br>
<br>


</body>
</html>
